@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-canvas: #F7F5F0;
    --color-earth-brown: #382E26;
    --color-sprout-green: #455832;
    --color-leaf-green: #89A066;
    --color-banana-yellow: #E5C25E;
    --color-banana-red: #933A31;

    --font-fraunces: "Fraunces", serif;
    --font-dm-sans: "DM Sans", sans-serif;
    --font-caveat: "Caveat", cursive;
}

@layer base {
    html {
        scrollbar-gutter: stable;
    }

    h1,h2,h3,h4,h5,h6 {
        @apply font-fraunces;
    }

    h1 {
        @apply text-5xl mb-6;
    }

    h2 {
        @apply text-3xl mb-3;
    }

    h3 {
        @apply text-2xl mb-3;
    }

    h4, h5, h6 {
        @apply text-xl mb-3;
    }

    p {
        @apply mb-6;
    }

    img {
        @apply rounded-xl;
    }
}



