@import "tailwindcss";

@theme {
    --color-canvas: #F7F5F0;
    --color-earth-brown: #382E26;
    --color-sprout-green: #455832;
    --color-leaf-green: #89A066;
    --color-banana-yellow: #E5C25E;
    --color-banana-red: #933A31;

    --font-fraunces: "Fraunces Variable", serif;
    --font-dm-sans: "DM Sans Variable", sans-serif;
    --font-caveat: "Caveat Variable", cursive;
}

@layer base {
    html {
        scrollbar-gutter: stable;
    }

    body {
        @apply font-normal;
    }

    h1,h2,h3,h4,h5,h6 {
        @apply font-fraunces;
    }

    h1 {
        @apply text-5xl mb-6;
    }

    h2 {
        @apply text-3xl mb-3;
    }

    h3 {
        @apply text-2xl mb-3;
    }

    h4, h5, h6 {
        @apply text-xl mb-3;
    }

    p {
        @apply mb-6;
    }

    img {
        @apply rounded-xl;
    }
}



